{% extends "base.html" %}
{% block content %}
<div class="left-panel">
	<div class="compose-btn-container">
		<button id="startRaffle" class="btn btn-primary" data-toggle="modal" data-target="#addRaffleModal" data-backdrop="static" data-keyboard="false">Start New Raffle</button>
	</div>
	<div class="lower-panel-container">
		<div id="navRaffles" class="panel-nav-item active" onclick="show_raffles('reset')">
			<span class="nav-label">Raffles</span>
		</div>
		<div id="navBlasts" class="panel-nav-item" onclick="show_blasts('reset')">
			<span class="nav-label">Participants</span>
		</div>
		<div id="navReminders" class="panel-nav-item" onclick="show_payment_reminders('reset')">
			<span class="nav-label">Results</span>
		</div>
		<div class="nav-separator"></div>
		{% if user_role == 'Administrator' %}
		<div id="navUsers" class="panel-nav-item" onclick="show_users('reset')">
			<span class="nav-label">Users</span>
		</div>
		{% endif %}
		<div id="navUsage" class="panel-nav-item" onclick="show_usage('reset')">
			<span class="nav-label">Usage</span>
		</div>
	</div>
</div>
<div id="replyError" class="snackbar snackbar-error">
	<div>
		<span class="snackbar-message">There was an error, please try again.</span>
		<i id="closeReplyError" class="material-icons">&#xE5CD;</i>
	</div>
</div>
<div id="replySuccess" class="snackbar snackbar-success">
	<div>
		<span class="snackbar-message">Message successfully sent.</span>
		<i id="closeReplySuccess" class="material-icons">&#xE5CD;</i>
	</div>
</div>
<div id="blastOverlay" class="hidden">
	<div class="blast-overlay-dialog">
		<div class="blast-overlay-body"></div>
	</div>
</div>
<div id="modalLoader" class="hidden"></div>
<div class="content">
	<div class="content-header">
		<div class="content-right-btn-container">
			<button class="btn control-btn" onclick="show_raffles('reset')"><i class="material-icons">&#xE5D5;</i></button>
			<button id="addRaffleBtn" class="btn control-btn" data-toggle="modal" data-target="#addRaffleModal" data-backdrop="static" data-keyboard="false"><i class="material-icons md-30">add</i></button>
			<button id="deleterafflesBtn" data-toggle="modal" data-target="#deleterafflesModal" class="btn control-btn hidden"><i class="material-icons">&#xE872;</i></button>
			<div class="pagination-btn-container">
				<div class="pagination-label-container">
					<span class="pagination-label"><strong id="paginationShowingraffle">1-{{ limit }}</strong></span>
					<span class="pagination-label separator">of</span>
					<span class="pagination-label"><strong id="paginationTotalraffle">{{ total_entries }}</strong></span>
				</div>
				{% if prev_btn == 'enabled' %}
				<button class="btn pagination-btn left raffle" onclick="raffle_prev_page()"><i class="material-icons">&#xE5CB;</i></button>
				{% else %}
				<button class="btn pagination-btn left raffle" onclick="raffle_prev_page()" disabled><i class="material-icons">&#xE5CB;</i></button>
				{% endif %}

				{% if next_btn == 'enabled' %}
				<button class="btn pagination-btn right raffle" onclick="raffle_next_page()"><i class="material-icons">&#xE5CC;</i></button>
				{% else %}
				<button class="btn pagination-btn right raffle" onclick="raffle_next_page()" disabled><i class="material-icons">&#xE5CC;</i></button>
				{% endif %}
			</div>
		</div>
	</div>
	{% if not raffles[0] %}
	<div class="empty-overlay">
		<span class="empty-label">No records yet.</span>
	</div>
	{% endif %}
	<div class="content-body">
		<div id="searchLoader" class="hidden">
			Loading..
		</div>
		<table class="table content-table">
			<thead>
				<tr class="search-panel raffle">
					<td class="icon-td">
						<input type="text" id="searchRaffleRef" class="form-control search-raffles search-text" placeholder="Reference No.">
					</td>
					<td class="name-td">
						<input type="text" id="searchRaffleName" class="form-control search-raffles search-text" placeholder="Raffle Name">
					</td>
					<td class="start-date-td">
						<input type="text" id="searchRaffleStartDate" class="form-control search-raffles search-text datepicker" placeholder="Start Date">
					</td>
					<td class="end-date-td">
						<input type="text" id="searchRaffleEndDate" class="form-control search-raffles search-text datepicker" placeholder="End Date">
					</td>
					<td class="participants-td align-right">
						<input type="text" id="searchRaffleParticipants" class="form-control search-raffles search-text align-right" placeholder="Participants">
					</td>
					<td class="slots-td align-center">
						<select class="form-control">
							<option selected>All</option>
							<option>Pending</option>
							<option>Active</option>
							<option>Closed</option>
						</select>
					</td>
				</tr>
			</thead>
			<tbody id="rafflesTbody">
				{% for entry in raffles %}
				<tr onclick="open_raffle({{ entry.id }})">
					<td class="icon-td">{{ entry.ref_key }}</td>
					<td class="name-td">{{ entry.name }}</td>
					<td class="start-date-td">{{ entry.start_date }}</td>
					<td class="end-date-td">{{ entry.end_date }}</td>
					<td class="participants-td align-right">{{ entry.participants }}</td>
					{% if entry.status == 'Pending' %}
					<td class="slots-td align-center amber">{{ entry.status }}</td>
					{% elif entry.status == 'Active' %}
					<td class="slots-td align-center green">{{ entry.status }}</td>
					{% else %}
					<td class="slots-td align-center red">{{ entry.status }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}