<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New User</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <input type="text" id="addUserName" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorUserName" class="form-control floatlabel" data-class="input-label" placeholder="Full Name">
                    <div id="errorUserName" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <input type="text" id="addUserEmail" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorUserEmail" class="form-control floatlabel" data-class="input-label" placeholder="Email">
                    <div id="errorUserEmail" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <input type="password" id="addUserPassword" onblur="validate_password(this,this.value)" onchange="validate_password(this,this.value)" data-error="errorUserPassword" class="form-control floatlabel" data-class="input-label" placeholder="Temporary Password">
                    <div id="errorUserPassword" class="error-icon-container hidden tooltip" title="Must be atleast 8 characters." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <input type="password" id="addUserPasswordConfirm" onblur="validate_temp_pass(this,this.value)" onchange="validate_temp_pass(this,this.value)" data-error="errorUserPasswordConfirm" class="form-control floatlabel" data-class="input-label" placeholder="Confirm Temporary Password">
                    <div id="errorUserPasswordConfirm" class="error-icon-container hidden tooltip" title="Passwords don't match." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <select class="form-control" id="addUserRole" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value);" data-error="errorUserRole" class="form-control">
                        <option value="" selected disabled>Role</option>
                        <option value="Administrator">Administrator</option>
                        <option value="Normal User">Normal User</option>
                    </select>
                    <div id="errorUserRole" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelUserBtn" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveUserBtn" class="btn btn-primary modal-btn" disabled onclick="save_user()" data-loading-text="Saving.." data-complete-text="Save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">User Info</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" id="closeUserBtn" class="btn btn-danger modal-btn" data-dismiss="modal">Close</button>
                <button type="button" id="editUserBtn" class="btn btn-primary modal-btn" disabled onclick="edit_user()" data-loading-text="Saving.." data-complete-text="Save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="resetPasswordModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New User</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <input type="password" id="resetPasswordText" onblur="validate_password(this,this.value)" onchange="validate_password(this,this.value)" data-error="errorResetPassword" class="form-control floatlabel" data-class="input-label" placeholder="New Password">
                    <div id="errorResetPassword" class="error-icon-container hidden tooltip" title="Must be atleast 8 characters."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <input type="password" id="resetPasswordConfirmText" onblur="validate_password_reset(this,this.value)" onchange="validate_password_reset(this,this.value)" data-error="errorResetPasswordConfirm" class="form-control floatlabel" data-class="input-label" placeholder="Confirm New Password">
                    <div id="errorResetPasswordConfirm" class="error-icon-container hidden tooltip" title="Passwords don't match."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancelPasswordResetBtn" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="resetPasswordBtn" class="btn btn-primary modal-btn" disabled onclick="reset_password()" data-loading-text="Saving.." data-complete-text="Reset">Reset</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <input type="password" id="changePasswordText" onblur="validate_password(this,this.value)" onchange="validate_password(this,this.value)" data-error="errorPassword" class="form-control floatlabel" data-class="input-label" placeholder="Password">
                    <div id="errorPassword" class="error-icon-container hidden tooltip" title="Must be atleast 8 characters."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <input type="password" id="changePasswordConfirmText" onblur="validate_password_confirm(this,this.value)" onchange="validate_password_confirm(this,this.value)" data-error="errorPasswordConfirm" class="form-control floatlabel" data-class="input-label" placeholder="Confirm Password">
                    <div id="errorPasswordConfirm" class="error-icon-container hidden tooltip" title="Passwords don't match."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="savePasswordBtn" type="button" class="btn btn-primary modal-btn" onclick="save_password()" disabled  data-loading-text="Saving.." data-complete-text="Save">Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addRaffleModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New Raffle</h4>
            </div>
            <div class="modal-body">
                <span id="groupsLabel" class="input-group-label">Raffle Info:</span>
                <div class="input-container whole">
                    <label for="addRaffleName">Name</label>
                    <input type="text" id="addRaffleName" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorRaffleName" class="form-control" data-class="input-label" placeholder="Raffle name">
                    <div id="errorRaffleName" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <label for="addRaffleName">Keyword</label>
                    <input type="text" id="addRaffleKeyword" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorRaffleKeword" class="form-control" data-class="input-label" placeholder="This is the keyword that the participants will use (must not contain spaces)" onkeypress="return restrict_space(event)">
                    <div id="errorRaffleKeword" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole textarea">
                    <label for="addRaffleDesc">Reference Link</label>
                    <textarea id="addRaffleDesc" onblur="validate_blank(this,this.value)" onchange="validate_blank(this,this.value)" data-error="errorRaffleDesc" class="form-control" data-class="input-label" placeholder="Link where your customers can go for more details"></textarea>
                    <div id="errorRaffleDesc" class="error-icon-container hidden tooltip" title="This field is required." title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <label for="addRaffleStartDate">Start Date</label>
                    <input type="text" id="addRaffleStartDate" data-error="errorRaffleStartDate" onblur="validate_blank(this,this.value)" class="form-control datepicker" data-class="input-label" placeholder="Raffle start date">
                    <div id="errorRaffleStartDate" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container right">
                    <label for="addRaffleEndDate">End Date</label>
                    <input type="text" id="addRaffleEndDate" data-error="errorRaffleEndDate" onblur="validate_blank(this,this.value)" class="form-control datepicker" data-class="input-label" placeholder="Raffle end date">
                    <div id="errorRaffleEndDate" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <label for="addRafflePurchase">Minimum Purchase</label>
                    <input type="number" id="addRafflePurchase" data-error="errorRafflePurchase" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="PHP 0.00">
                    <div id="errorRafflePurchase" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container whole">
                    <label for="addRafflePermit">DTI Permit</label>
                    <input type="number" id="addRafflePermit" data-error="errorRafflePermit" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="DTI Permit No.">
                    <div id="errorRafflePermit" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <div class="input-container left">
                    <label for="addRaffleSlots">Slots</label>
                    <input type="number" id="addRaffleSlots" data-error="errorRaffleSlots" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="Maximum Entries">
                    <div id="errorRaffleSlots" class="error-icon-container hidden tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
                <!-- <div class="input-container right">
                    <label for="addRaffleIsLimited" class="stretch">Limited Slots</label>
                    <input type="checkbox" id="addRaffleIsLimited" class="form-control" data-toggle="toggle">
                </div> -->
                <span id="brandCount" class="input-group-label more-margin">Participating Brands: (0 Items)</span>
                <table id="brandTable" class="table">
                    <thead>
                        <tr>
                            <th class="brand-name-td">Brand Name</th>
                            <th class="brand-code-td">Code (POS)</th>
                            <th class="brand-delete-td"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button id="addBrandBtn" class="btn btn-primary" data-toggle="modal" data-target="#addBrandModal">Add Brand</button>
                <span id="prizeCount" class="input-group-label more-margin">Prizes: (0 Items)</span>
                <table id="prizeTable" class="table">
                    <thead>
                        <tr>
                            <th class="prize-label-td">Label</th>
                            <th class="prize-td">Prize</th>
                            <th class="prize-delete-td"></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <button id="addPrizeBtn" class="btn btn-primary" data-toggle="modal" data-target="#addPrizeModal">Add Prize</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" onclick="clear_raffle_data()">Close</button>
                <button id="saveRaffleBtn" type="button" class="btn btn-primary modal-btn" onclick="save_raffle()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="raffleInfoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addPrizeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New Prize</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <label for="addPrizeLabel">Label</label>
                    <input type="text" data-error="errorPrizeLabel" id="addPrizeLabel" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="e.g. Grand Prize, 2nd Prize, etc..">
                    <div id="errorPrizeLabel" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <label for="addPrize">Prize</label>
                    <input type="text" data-error="errorPrize" id="addPrize" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="e.g. PHP 1,000,000">
                    <div id="errorPrize" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="savePrizeBtn" class="btn btn-primary modal-btn" onclick="save_prize()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addExistingPrizeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New Prize</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <label for="addExistingPrizeLabel">Label</label>
                    <input type="text" data-error="errorExistingPrizeLabel" id="addExistingPrizeLabel" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="e.g. Grand Prize, 2nd Prize, etc..">
                    <div id="errorExistingPrizeLabel" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <label for="addExistingPrize">Prize</label>
                    <input type="text" data-error="errorExistingPrize" id="addExistingPrize" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="e.g. PHP 1,000,000">
                    <div id="errorExistingPrize" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveExistingPrizeBtn" class="btn btn-primary modal-btn" onclick="save_existing_prize()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="forgotPrizeModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">New Prize</h4>
            </div>
            <div class="modal-body">
                <span class="forgot-label">Whoops! Looks like you forgot to add prizes.</span>
                <div class="input-container whole">
                    <label for="forgotPrizeLabel">Label</label>
                    <input type="text" data-error="errorForgotPrizeLabel" id="forgotPrizeLabel" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="e.g. Grand Prize, 2nd Prize, etc..">
                    <div id="errorForgotPrizeLabel" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <label for="forgotPrize">Prize</label>
                    <input type="text" data-error="errorForgotPrize" id="forgotPrize" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="e.g. PHP 1,000,000">
                    <div id="errorForgotPrize" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveForgotPrizeBtn" class="btn btn-primary modal-btn" onclick="save_forgot_prize()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addBrandModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Participating Brand</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <label for="addBrandName">Brand Name</label>
                    <input type="text" data-error="errorBrandName" id="addBrandName" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="Brand Name">
                    <div id="errorBrandName" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <label for="addBrandCode">Brand Code</label>
                    <input type="text" data-error="errorBrandCode" id="addBrandCode" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="Brand Code (this is what we'll look for in your transaction records)">
                    <div id="errorBrandCode" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveBrandBtn" class="btn btn-primary modal-btn" onclick="save_brand()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade" id="addExistingBrandModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Participating Brand</h4>
            </div>
            <div class="modal-body">
                <div class="input-container whole">
                    <label for="addExistingBrandName">Brand Name</label>
                    <input type="text" data-error="errorExistingBrandName" id="addExistingBrandName" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="Brand Name">
                    <div id="errorExistingBrandName" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>

                <div class="input-container whole">
                    <label for="addExistingBrandCode">Brand Code</label>
                    <input type="text" data-error="errorExistingBrandCode" id="addExistingBrandCode" onblur="validate_blank(this,this.value)" class="form-control" data-class="input-label" placeholder="Brand Code (this is what we'll look for in your transaction records)">
                    <div id="errorExistingBrandCode" class="error-icon-container hidden tooltip" title="This field is required."tooltip" title="This field is required."><i class="material-icons">&#xE001;</i></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="saveExistingBrandBtn" class="btn btn-primary modal-btn" onclick="save_existing_brand()" data-loading-text="Saving.." data-complete-text="Save" disabled>Save</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<!-- START OF DELETE ENTRIES -->

<div class="modal fade confirm-delete-modal" id="deleteConversationsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_conversations()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete this user?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" id="deleteUserBtn" class="btn btn-primary modal-btn" onclick="delete_user()" data-loading-text="Deleting.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteBlastsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_blasts()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteRemindersModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_reminders()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteContactsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_contacts()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteGroupsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to delete selected item/s?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_groups()" data-loading-text="Preparing.." data-complete-text="Delete">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class="modal fade confirm-delete-modal" id="deleteMemberModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="gridSystemModalLabel">Confirm Delete</h4>
            </div>
            <div class="modal-body">
                <span class="confirm-delete-message">Are you sure you want to remove this member from the group?</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger modal-btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary modal-btn" onclick="delete_group_member()" data-loading-text="Preparing.." data-complete-text="Delete">Remove</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- END OF DELETE ENTRIES -->